<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.msm.onlinecomplaintapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera2" />

    <application
        tools:replace="android:appComponentFactory"
        android:appComponentFactory="whateverString"
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@drawable/vitmonitorlogo"
        android:label="VITMONITOR"
        android:roundIcon="@drawable/vitmonitor_circle_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DepartmentActivities.DeptArchives"></activity>
        <activity
            android:name=".LoginActivities.LoginActivity"
            android:theme="@style/LoginTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UserActivities.homepage" android:theme="@style/LoginTheme"/>
        <activity android:name=".UserActivities.newcomplaint" />
        <activity android:name=".cameracapture" />
        <activity android:name=".UserActivities.mycomplaints" />
        <activity android:name=".UserActivities.settingsactivity" />
        <activity android:name=".UserActivities.totcompdesc" />
        <activity android:name=".DepartmentActivities.department_home" />
        <activity android:name=".AdminActivities.admin_home" />
        <activity android:name=".DepartmentActivities.deptcomplaints" />
        <activity android:name=".DepartmentActivities.deptsettings" />
        <activity android:name=".DepartmentActivities.depttotcompdec" />
        <activity android:name=".AdminActivities.adminsettings" />
        <activity android:name=".AdminActivities.adminrequests" />
        <activity android:name=".AdminActivities.admincreateaccount" />
        <activity android:name=".UserActivities.userarchives" />
        <activity android:name=".DepartmentActivities.DeptPublicArchives" />
        <activity android:name=".AdminActivities.adminarchives" />
        <activity android:name=".UserActivities.notificationsactivity" />
        <service
            android:name=".Services.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>