<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.msm.onlinecomplaintapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera2" />

    <application
        tools:replace="android:appComponentFactory"
        android:appComponentFactory="whateverString"
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@drawable/vitmonitorlogo"
        android:label="VITMONITOR"
        android:roundIcon="@drawable/vitmonitor_circle_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Department.DepartmentActivities.DeptArchives" android:theme="@style/LoginTheme"></activity>
        <activity
            android:name=".LoginActivities.LoginActivity"
            android:theme="@style/LoginTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Users.UserActivities.homepage" android:theme="@style/LoginTheme"/>
        <activity android:name=".Users.UserActivities.newcomplaint" android:theme="@style/LoginTheme"/>
        <activity android:name=".cameracapture" />
        <activity android:name=".Users.UserActivities.mycomplaints" android:theme="@style/LoginTheme"/>
        <activity android:name=".Users.UserActivities.settingsactivity"
            android:theme="@style/LoginTheme"/>
        <activity android:name=".Users.UserActivities.totcompdesc" android:theme="@style/LoginTheme"/>
        <activity android:name=".Department.DepartmentActivities.department_home" android:theme="@style/LoginTheme"/>
        <activity android:name=".Admin.AdminActivities.admin_home" />
        <activity android:name=".Department.DepartmentActivities.deptcomplaints" android:theme="@style/LoginTheme"/>
        <activity android:name=".Department.DepartmentActivities.deptsettings" android:theme="@style/LoginTheme"/>
        <activity android:name=".Department.DepartmentActivities.depttotcompdec" android:theme="@style/LoginTheme" />
        <activity android:name=".Admin.AdminActivities.adminsettings" />
        <activity android:name=".Admin.AdminActivities.adminrequests" />
        <activity android:name=".Admin.AdminActivities.admincreateaccount" />
        <activity android:name=".Users.UserActivities.userarchives" android:theme="@style/LoginTheme"/>
        <activity android:name=".Department.DepartmentActivities.DeptPublicArchives" android:theme="@style/LoginTheme" />
        <activity android:name=".Admin.AdminActivities.adminarchives" />
        <activity android:name=".Users.UserActivities.notificationsactivity" android:theme="@style/LoginTheme"/>
        <activity android:name=".Admin.AdminActivities.AdminHomeDefault" android:theme="@style/LoginTheme"/>
        <service
            android:name=".Services.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>